{% extends 'base.html' %}

{% block content %}

<div class="container">
        <form action="{% url 'location' %}" class="form-style">
            <div class="form-group col-md-4">
                <label for="locationFilter">Location filter</label>
                <select id="locationFilter" class="form-control" name="location">
                    {% for location in locations %}
                    <option>{{ location.location }}</option>
                    {% endfor %}
                </select><br>
                <button btn="btn" type="submit">Filter</button>
            </div>
        </form>
    </div>
<div class="container">   
    <div class="row">
        {% if found %}

        {% for cate in found %}
        <div class="col-md-4">
            <div class="modal fade" id="{{cate.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 450px;height:770px; justify-items: center;">
              <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <img src="{{cate.image.url}}"  class="img-responsive" style="width: 433px;height:300px;">
                <h3 class="text-center">{{cate.name}}</h3>
                <p style="margin: 10px;">{{cate.descri}}</p>
                <p style="margin: 10px;">Posted at {{cate.pub_date|timesince}}</p>
                <p style="margin: 10px;">Location {{cate.loca}}</p>
                <p style="margin: 10px;">Category {{cate.cate}}</p>
                <div class="modal-footer justify-content-center">
                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-fw fa-facebook"></i></a>
                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-fw fa-twitter"></i></a>
                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-fw fa-google-plus"></i></a>
                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-fw fa-linkedin"></i></a>
                <a href="{{photos.image.url}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4">View The Picture</button></a>
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                </div>
              </div>
              </div>
            </div>
            <a><img class="img-responsive" src="{{cate.image.url}}" id="image"
                data-toggle="modal" data-target="#{{cate.id}}" style="width: 250px;height:250px;"></a>
            <button class="btn btn-default" style="text-align:center;" onclick="copylk(link)" data-toggle="modal"
            data-target="#Modal">Copy Link</button>
            <input type="text" value="127.0.0.1:8000{{photos.image.url}}" id="link" >
            </div>
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-notify modal-success" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="text-center">
                        <i class="fas fa-check fa-4x mb-3 animated rotateIn" data-delay="1s" style="color:rgb(241, 106, 196)"></i>
                        <p class="text-muted">Link Successfully Copied</p>
                      </div>
                      <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
      </div>
        </div>
        {% endfor %}

        {% endif %}
</div>

{% endblock %}