{% extends 'all-photos/base.html' %}

 {% block content %}
 <form action="{% url 'locator' %}" class="form-style">
  <div class="form-group col-md-4">
      <label for="locationFilter">Location filter</label>
      <select id="locationFilter" class="form-control" name="locations">
        {% for loca in location %}
        <option>{{ loca.loca }}</option>
        {% endfor %}
      </select><br>
      <button btn="btn" type="submit">Filter</button>
  </div>
</form>
{% endcontent %}




<!-- <div class="row">

    {% if category %}
      {% for cate in category %}
        <div class="col-sm-6 col-md-3">
          <img src="{{cate.image.url}}"  class="img-responsive" alt="">
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
  {% endblock %} -->